---
environments:
  prod:

---
helmDefaults:
  atomic: true
  cleanupOnFail: true
  createNamespace: false
  timeout: {{ env "HELM_TIMEOUT" | default "600" }}

releases:
  - name: healthengine-review-github-app
    chart: ./helm/chart/healthengine-review-github-app
    labels:
      app: healthengine-review-github-app
    missingFileHandler: Info
    namespace: {{ env "RELEASE_NAMESPACE" | default "healthengine-review-github-app" }}
    values:
      - helm/vars/values.yaml.gotmpl
